RewriteEngine On

# Optional: base path if you're using subfolder (e.g., /POS1/)
# RewriteBase /POS1/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

# Not yet working